<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加 One Tap API 配置 -->
    <meta-data
        android:name="com.google.android.gms.identity.api.AuthzenApiKey"
        android:value="YOUR_ONE_TAP_API_KEY" />
    <!--位置信息-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--如果是Android 10.0，需要後臺獲取連接的wifi名稱則添加進程獲取位置信息權限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--android 10.0使用wifi api新添加的權限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BodyBoost"
        tools:targetApi="31">
        <activity
            android:name=".VerificationCode"
            android:exported="true" />
        <activity
            android:name=".TargetInfo4"
            android:exported="true" />
        <activity
            android:name=".TargetInfo3"
            android:exported="true" />
        <activity
            android:name=".TargetInfo2"
            android:exported="true" />
        <activity
            android:name=".TargetInfo1"
            android:exported="true" />
        <activity
            android:name=".Guide3"
            android:exported="true" />
        <activity
            android:name=".Guide2"
            android:exported="true" />
        <activity
            android:name=".Guide1"
            android:exported="true" />
        <activity
            android:name=".UpgradeActivity"
            android:exported="true" />
        <activity
            android:name=".DetailedActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TargetActivity"
            android:exported="true" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterInfoActivity"
            android:exported="true" />
    </application>

</manifest>